<% if student_signed_in? %>
<ul>
  <li>-----------Hello, <font color="red"><%= current_student.first_name%> <%= current_student.last_name%></font></li>
  <li>--------------ID: <font color="red"><%= current_student.student_id%></font></li>
  <li>--------Course: <font color="red"><%= current_student.course%></font></li>
  <li>Specialization: <font color="red"><%= current_student.spec%></font></li>
  <li>----------Email: <font color="red"><%= current_student.email%></font> </li>
  <br>
  <li>Maximum number of credits: <%=current_student.maxCredits%></li>
  <li>Current number of credits: <%=current_student.currentCredits%></li>
  <li><%=link_to 'Schedule', schedule_path %></li>
  <li><%= link_to 'Edit profile', edit_student_registration_path%></li>
  <li><%= link_to 'Registraton on disciplines', newlesson_path%></li>
  <li><%= link_to 'Logout', destroy_student_session_path, :method => :delete %></li>
</ul>
<%end%>
