<%= form_for :lesson, url: lessons_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :room %><br>
    <%= f.text_area :room %>
  </p>
  <p>
    <%= f.label :"Number of credits" %><br>
    <%= f.text_area :creditsNumber %>
  </p>
  <p>
    <%= f.label :discipline %><br>
    <%= f.text_area :discipline %>
  </p>
  <p>
    <%= f.label :day %><br>
    <%= f.select :day, options_for_select([["Monday"], ["Tuesday"],["Wednesday"],["Thursday"],["Friday"],["Saturday"],["Sunday"]]) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
